#box1{background-color: aquamarine;
       width: 200px;
       height: 200px;
       border: 2px solid black;
       margin: 20px;
       padding: 10px;
       box-shadow: 5px 5px 15px gray;}
#box2{background-color: coral;
       width: 150px; 
         height: 150px;
       border: 3px dashed blue; 
         margin: 15px;
         padding: 20px;
         box-shadow: 3px 3px 10px darkgray;}